<!DOCTYPE html>
<html>

<head>
  <title>Bobby Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="landing.css">
</head>

<body>
  <section class="site-container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/film-machine.png" alt="L A N T E R N">
          </a>
          <ul class="navbar-nav header-links web-header">
            <li class="nav-item header-link--item">
              <a href="#home" class="nav-link header-link--item-label">
                <span>HOME</span>
              </a>
            </li>
            <li class="nav-item header-link--item">
              <a href="#about" class="nav-link header-link--item-label">
                <span>ABOUT</span>
              </a>
            </li>
            <li class="nav-item header-link--item">
              <a href="#work" class="nav-link header-link--item-label">
                <span>WORK</span>
              </a>
            </li>
            <li class="header-link--item">
              <a href="#contact" class="nav-link header-link--item-label">
                <span>CONTACT</span>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav header-links header-login">
            <li class="header-link--item js-login-page">
              <a href="#login" class="nav-link header-link--item-label">
                <span>LOG IN</span>
              </a>
            </li>
          </ul>
          <div class="mobile-header">
            <i class="fa fa-bars menu-bar-icon js-menu-icon" title="Menu" aria-hidden="true"></i>
            <div class="mobile-actions js-mobile-actions">
              <ul class="navbar-nav header-links">
                <li class="nav-item header-link--item">
                  <a href="#home" class="nav-link header-link--item-label">
                    <span>HOME</span>
                  </a>
                </li>
                <li class="nav-item header-link--item">
                  <a href="#about" class="nav-link header-link--item-label">
                    <span>ABOUT</span>
                  </a>
                </li>
                <li class="nav-item header-link--item">
                  <a href="#work" class="nav-link header-link--item-label">
                    <span>WORK</span>
                  </a>
                </li>
                <li class="header-link--item">
                  <a href="#contact" class="nav-link header-link--item-label">
                    <span>CONTACT</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="main-heading-section" id="home">
      <div class="heading-image-container">
        <div class="splash-main-bgs">
          <div class="splash-panel splash-main-bg-a showing"
            style="background-image: url('https://assets.mubi.com/splash/oldboy.jpg');"></div>
          <div class="splash-panel splash-main-bg-b"
            style="background-image: url('https://assets.mubi.com/splash/arabian_nights.jpg');"></div>
        </div>
        <div class="splash-main splash-main-content grid">
          <h1 class="tagline">
            Welcome to Film Mechanic Productions.
          </h1>
          <div class="web-information">
            <div class="web-information__text">
              " We produce feature films, documentaries, TV content, web series, offer co-production and line production services. "                
            </div>
          </div>
          <div class="device-support">
            <!-- <h2 class="device-support__heading">
             Always available to help you with production
            </h2> -->
            <div class="m-icon m-icon-devices"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="just-info-section" id="about">
      <div class="just-info-image js-image" style="background-image: url('https://assets.mubi.com/splash/dog_tooth.jpg')">
        <h2 class="just-info__heading">
          Cult, classic, independent and award-winning films from around the world
        </h2>
      </div>
    </div>

    <div class="now-showing" id="work">
      <div class="now-showing-upper grid">
        <h2 class="now-showing-upper__heading splash-left">
          Now showing on MUBI
        </h2>
        <p class="splash-right">
          Every day our experts introduce you to a film they love and you have a whole month to watch it, so there will
          always be 30 extraordinary films for you to enjoy.
        </p>
      </div>

      <div class="programmed-films grid">
        <div class="splash-film-grid">
          <ul class="film-grid">
            <li class="film-tile" style="background-color: rgb(122, 109, 95)">
              <img class="film-thumb" src="https://images.mubi.com/images/film/5234/image-w1280.jpg?size=740x" alt="1">
              <div class="film-tile-inner text-shadow">
                <h3 class="film-title"> Camera Buff </h3>
                <span class="film-subtitle"> krzysztof kieslowski, 1979 </span>
                <!-- <span class="play-icon">
                  <i class="fa fa-play" aria-hidden="true"></i>
                </span> -->
              </div>
            </li>
            <li class="film-tile" style="background-color: rgb(38, 55, 59)">
              <img class="film-thumb" src="https://images.mubi.com/images/film/6649/image-w1280.jpg?size=740x" alt="2">
              <div class="film-tile-inner text-shadow">
                <h3 class="film-title"> No End </h3>
                <span class="film-subtitle"> krzysztof kieslowski, 1985 </span>
                <!-- <span class="play-icon">
                  <i class="fa fa-play" aria-hidden="true"></i>
                </span> -->
              </div>
            </li>
            <li class="film-tile" style="background-color: rgb(6, 7, 6)">
              <img class="film-thumb" src="https://images.mubi.com/images/film/1359/image-w1280.jpg?size=740x" alt="3">
              <div class="film-tile-inner text-shadow">
                <h3 class="film-title "> Blind Chance </h3>
                <span class="film-subtitle"> krzysztof kieslowski, 1981 </span>
                <!-- <span class="play-icon">
                  <i class="fa fa-play" aria-hidden="true"></i>
                </span> -->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contact-us grid" id="contact">
      <p class="contact-us-title">Contact Us</p>
      <form class="form-grid">
        <input type="hidden" data-form-email="true">
        <div class="form-group">
          <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" required="" placeholder="Email*"
            data-form-field="Email">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" placeholder="Go ahead, we're listening..." rows="7"
            data-form-field="Message"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-success">Submit</button>
        </div>
      </form>
    </div>

    <div class="modal js-login-form" id="login-form">
      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="container padding-16px">
          <label for="uname"><b>Username</b></label>
          <input type="text" class="input-text-box" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" class="input-text-box" placeholder="Enter Password" name="psw" required>

          <button type="submit" class="btn btn-md btn-success btn-block btn-login">Login</button>
          <label class="cursor-pointer">
            <input type="checkbox" class="cursor-pointer" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="action-container padding-16px">
          <button type="button" class="btn btn-md btn-danger js-cancel-login">Cancel</button>
          <span class="password-link">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

    <footer>
      <span class="developed-by"> Designed and Developed By <a style="color: white;" href="https://www.linkedin.com/in/aniket230892mane/" target="_blank">Aniket Mane</a> & <a style="color: white;" href="https://in.linkedin.com/in/shweta-takale-8b253b183" target="_blank">Shweta Takale</a></span>
    </footer>
  </section>
  <script type="text/javascript" src="landing.js"></script>
</body>

</html>