<!DOCTYPE html>
<html>

<head>
  <title>Bobby Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- <link rel="stylesheet" href="bootstrap-reboot.min.css" /> -->
  <link rel="stylesheet" href="bootstrap-grid.min.css" />
  <link rel="stylesheet" href="bootstrap.min.css" />
  <link rel="stylesheet" href="landing.css" />
</head>

<body>
  <section class="site-container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/film-machine.png" alt="L A N T E R N">
          </a>
          <ul class="navbar-nav header-links web-header">
            <li class="nav-item header-link--item">
              <a href="#home" class="nav-link header-link--item-label">
                <span>HOME</span>
              </a>
            </li>
            <li class="nav-item header-link--item">
              <a href="#about" class="nav-link header-link--item-label">
                <span>ABOUT</span>
              </a>
            </li>
            <li class="nav-item header-link--item">
              <a href="#work" class="nav-link header-link--item-label">
                <span>WORK</span>
              </a>
            </li>
            <li class="header-link--item">
              <a href="#contact" class="nav-link header-link--item-label">
                <span>CONTACT</span>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav header-links header-login">
            <li class="header-link--item js-login-page">
              <a href="#login" class="nav-link header-link--item-label">
                <span>LOG IN</span>
              </a>
            </li>
          </ul>
          <div class="mobile-header">
            <i class="fa fa-bars menu-bar-icon js-menu-icon" title="Menu" aria-hidden="true"></i>
            <div class="mobile-actions js-mobile-actions">
              <ul class="navbar-nav header-links">
                <li class="nav-item header-link--item">
                  <a href="#home" class="nav-link header-link--item-label">
                    <span>HOME</span>
                  </a>
                </li>
                <li class="nav-item header-link--item">
                  <a href="#about" class="nav-link header-link--item-label">
                    <span>ABOUT</span>
                  </a>
                </li>
                <li class="nav-item header-link--item">
                  <a href="#work" class="nav-link header-link--item-label">
                    <span>WORK</span>
                  </a>
                </li>
                <li class="header-link--item">
                  <a href="#contact" class="nav-link header-link--item-label">
                    <span>CONTACT</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="main-heading-section" id="home">
      <div class="heading-image-container">
        <div class="splash-main-bgs">
          <div class="splash-panel splash-main-bg-a showing"
            style="display: block; background-image: url('https://mechanics-images.s3.ap-south-1.amazonaws.com/06844955-88a8-411e-8f76-8803844c981e.JPG');">
          </div>
          <div class="splash-panel splash-main-bg-b"
            style="background-image: url('https://mechanics-images.s3.ap-south-1.amazonaws.com/2684b32d-8628-4884-a38c-894ba5109e98.JPG');">
          </div>
          <div class="splash-panel splash-main-bg-c"
            style="background-image: url('https://mechanics-images.s3.ap-south-1.amazonaws.com/IMG_7630.JPG');"></div>
        </div>
        <div class="splash-main splash-main-content grid">
          <h1 class="tagline">
            Welcome to Film Mechanic Productions.
          </h1>
          <div class="web-information">
            <div class="web-information__text">
              " We produce feature films, documentaries, TV content, web series, offer co-production and line production
              services. "
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="just-info-section" id="about">
      <div class="just-info-image js-image"
        style="background-image: url('https://www.masstlc.org/wp-content/uploads/spotlight.jpg')">
        <h2 class="just-info__heading">
          We love movies. We love to watch movies. We love to make movies.
          We love to make movies that we love to watch. It sounds simpler than it is, but that's our endeavor.
          <p>
            We have a simple philosophy -      
            " Repair anything that is wrong, make it lovable. 
            Movies that we love. Movies that you love. Movies that we will all remember."
          </p>
          
          We are the movie makers. We are Mechanics.
        </h2>
      </div>
    </div>

    <div class="now-showing" id="work">
      <div class="now-showing-upper grid">
        <h4 class="now-showing-upper__heading splash-left">
          Filmography
        </h4>
        <p class="splash-right">
          Few of our art work which entertained audience.
        </p>
      </div>

      <div class="programmed-films grid">
        <div class="splash-film-grid">
          <ul class="film-grid">
            <li class="film-tile">
              <img class="film-thumb" src="https://www.comingtrailer.com/images/poster/Andhadhun1.jpg" alt="1"
                style="background-color:rgb(254, 255, 254)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> Andhadhun </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2018) </span>
              </div>
            </li>
            <li class="film-tile">
              <img class="film-thumb" src="https://m.media-amazon.com/images/M/MV5BNDY5Y2VhNDEtMGI5ZS00NzYyLWIzZDMtODIyMDBmM2U2MDM2XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg" alt="2"
                style="background-color: rgb(174, 147, 194)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> Faster Fene </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2017) </span>
              </div>
            </li>
            <li class="film-tile">
              <img class="film-thumb" src="https://m.media-amazon.com/images/M/MV5BNjM2MGVlODctMGNiYi00YTk1LTlmZGYtN2I1MzU0ZTRiZWQ5L2ltYWdlXkEyXkFqcGdeQXVyMzc0ODYyNzk@._V1_.jpg"
                style="background-color: rgb(38, 55, 59)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> Ti Saadhya Kay Karte </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2017) </span>
              </div>
            </li>
            <li class="film-tile">
              <img class="film-thumb" src="https://static.toiimg.com/thumb/msid-67828429,width-219,height-317,imgsize-57383/67828429.jpg" alt="4"
                style="background-color: rgb(38, 55, 59)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> Anandi Gopal </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2019) </span>
              </div>
            </li>
            <li class="film-tile">
              <img class="film-thumb" src="https://m.media-amazon.com/images/M/MV5BZjM3ZmY5NGQtZTAyMy00NzAwLTliZmQtNzUzZmQ2MzFmZjU3XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg" alt="5"
                style="background-color: rgb(38, 55, 59)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> Mumbai-Pune-Mumbai 3 </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2018) </span>
              </div>
            </li>
            <li class="film-tile">
              <img class="film-thumb" src="https://m.media-amazon.com/images/M/MV5BMWVjNjEwNGEtZjdkMy00NzA3LTg0M2UtYWI5NTE4Y2RkNGRkXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg" alt="6"
                style="background-color: rgb(138, 171, 193)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> Amhi Doghi </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2018) </span>
              </div>
            </li>
            <li class="film-tile">
              <img class="film-thumb" src="https://m.media-amazon.com/images/M/MV5BZGI2MWE1ZjUtYmM1ZC00YmU1LWJjMzctZTUzY2ZjMWQ5ODUzXkEyXkFqcGdeQXVyNDc5MDcwMjU@._V1_.jpg" alt="7"
                style="background-color: rgb(91, 38, 7)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> Irsal </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2019) </span>
              </div>
            </li>
            <li class="film-tile">
              <img class="film-thumb" src="https://m.media-amazon.com/images/M/MV5BZjIwZTY0MGUtMTE2NS00MTkwLTk4YWYtYWYzYmI3MTkxZDMxXkEyXkFqcGdeQXVyNjkwOTg4MTA@._V1_.jpg" alt="8"
                style="background-color: rgb(138, 171, 193)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> AB Aani CD </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2020) </span>
              </div>
            </li>
            <li class="film-tile">
              <img class="film-thumb" src="https://cdn1.marathistars.com/wp-content/uploads/2016/05/Bernie-Marathi-Movie-Poster.jpg" alt="9"
                style="background-color: rgb(121, 68, 36)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> Bernie </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2016) </span>
              </div>
            </li>
            <li class="film-tile">
              <img class="film-thumb" src="https://m.media-amazon.com/images/M/MV5BMzg2YTkyYzctZGQ1ZC00MWI5LWI2OTEtMWE4ZTBlZmFlYjI3XkEyXkFqcGdeQXVyNTE0NDY5Njc@._V1_UY1200_CR88,0,630,1200_AL_.jpg" alt="10"
                style="background-color: rgb(247, 234, 40)" />
              <div class="film-tile-inner text-shadow">
                <h6 class="film-title"> Nanu Avanalla... Avalu </h6>
                <span class="film-subtitle"> Producer </span>
                <span class="film-year"> (2015) </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contact-us grid" id="contact">
      <p class="contact-us-title">Contact Us</p>
      <form class="form-grid">
        <input type="hidden" data-form-email="true">
        <div class="form-group">
          <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" required="" placeholder="Email*"
            data-form-field="Email">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" placeholder="Go ahead, we're listening..." rows="7"
            data-form-field="Message"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-success">Submit</button>
        </div>
      </form>
    </div>

    <div class="modal js-login-form" id="login-form">
      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="container padding-16px">
          <label for="uname"><b>Username</b></label>
          <input type="text" class="input-text-box" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" class="input-text-box" placeholder="Enter Password" name="psw" required>

          <button type="submit" class="btn btn-md btn-success btn-block btn-login">Login</button>
          <label class="cursor-pointer">
            <input type="checkbox" class="cursor-pointer" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="action-container padding-16px">
          <button type="button" class="btn btn-md btn-danger js-cancel-login">Cancel</button>
          <span class="password-link">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

    <footer>
      <span class="developed-by"> Designed and Developed By <a style="color: white;"
          href="https://www.linkedin.com/in/aniket230892mane/" target="_blank">Aniket Mane</a> & <a
          style="color: white;" href="https://in.linkedin.com/in/shweta-takale-8b253b183" target="_blank">Shweta
          Takale</a></span>
    </footer>
  </section>
  <script type="text/javascript" src="landing.js"></script>
</body>

</html>